@import "../varibales";

/* ------------ANIMACJA-PRZESUN------------ */
@keyframes przesun {
  0% {
    transform: translateX(0);
    padding-left: 110%;
  }
  100% {
    transform: translateX(-100%);
    padding-left: 110%;
  }
}

@-webkit-keyframes przesun /* dla Google Chrome, Safari, Opera 15+ */
{
  0% {
    -webkit-transform: translateX(0);
    padding-left: 110%;
  }
  100% {
    -webkit-transform: translateX(-100%);
    padding-left: 110%;
  }
}

.footer_box {
  height: 120px;

  .tracker_player {
    height: 60px;
    padding: 0 4px;

    &_box {
      padding: 8px 6px;

      border-radius: 4px;
      width: 100%;
      background-color: $player-tracker-background;
      height: 100%;

      .ant-col {
        height: 100%;
        display: flex;
      }

      &__project-color {
        margin: 0 4px;
        padding: 0 4px;

        &--content {
          width: 2px;
          height: 100%;
        }
      }

      &_information {
        width: 100%;
        padding-left: 4px;
        padding-right: 16px;
        font-size: 16px;
        margin: auto;

        &__task_name {
          position: relative;
          height: 16px;
          line-height: 16px;
          margin: 0 auto;
          font-size: 16px;
          overflow: hidden;

          & > span {
            position: absolute;
            margin: 0;
            white-space: nowrap;
            animation: przesun 30s linear infinite;
            -webkit-animation: przesun 30s linear infinite;

            &:hover {
              animation-play-state: paused;
              -webkit-animation-play-state: paused;
            }
          }
        }

        &_details {
          width: 100%;
          text-align: left;

          &__timer {
            padding: 0 4px;
            display: block !important;
            text-align: right;
            font-weight: 700;
          }

          &__author {
            font-weight: 300;
          }
        }
      }
    }
  }

  .footer_menu {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;

    &__element {
      padding-left: 16px;
      padding-right: 16px;

      span {
        display: block;
      }

      .anticon {
        font-size: 22px;
      }

      &--is-active {
        color: white;
      }

      &-description {
        padding: 2px 0 0 0;
        font-size: 12px;
      }
    }
  }

  .task_box__action {
    button {
      svg {
        font-size: 16px;
      }
    }
  }
}