@import "../varibales";

.ant-tag{
  padding: 2px 12px !important;
  border-radius: 16px !important;
  background-color: $secondary-color !important;
}
.ant-tag-checkable-checked{
  background-color: $primary-color !important;
}