@import "../varibales";

.ant-layout-header {
  .ant-tag {
    padding: 2px 12px !important;
    border-radius: 16px !important;
    border: 1px solid $secondary-color
  }

  .ant-tag-checkable-checked {
    background-color: $secondary-color !important;
  }
}