.task_box {
  padding-bottom: 4px;

  .ant-card-body {
    padding: 8px;
  }

  &_description {
    &__task {
      font-size: 12px;
    }

    &__tags {
      padding-bottom: 4px;

      .ant-tag {
        font-size: 9px;
        padding: 0 1px;
        margin-right: 4px;
        line-height: 12px;
        color: black;
      }
    }
  }

  &__action {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}