@import "../varibales";

.home_page_header {
  margin: 20px 0 30px 0;

  &__title {
    font-size: 28px;
    color: $main-light-color;
    text-decoration: underline;
    -webkit-text-decoration-color: $card-background-lvl-2; /* Safari */
    text-decoration-color: $card-background-lvl-2;
    text-decoration-thickness: 6px;
  }
}