/* ------------ANIMACJA-PRZESUN------------ */
@keyframes przesun {
  0% {
    transform: translateX(0);
    padding-left: 110%;
  }
  100% {
    transform: translateX(-100%);
    padding-left: 110%;
  }
}

@-webkit-keyframes przesun /* dla Google Chrome, Safari, Opera 15+ */
{
  0% {
    -webkit-transform: translateX(0);
    padding-left: 110%;
  }
  100% {
    -webkit-transform: translateX(-100%);
    padding-left: 110%;
  }
}