$primary-color: #177ddc;
$secondary-color: #282828;
$main-light-color: #fbfbfb;
$dangerous-color: #a61d24;
$success-color: #52c41a;
$card-background-lvl-1: #141414;
$card-background-lvl-2: #3A3A3A;
$player-tracker-background: #282828;