@import "../varibales";

.search_page {
  &_header {
    margin-top: 16px;

    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: $main-light-color;
    margin-bottom: 14px;

    &__title {
    }

    &__icon {

    }
  }

  &__input {
    .ant-input-affix-wrapper {
      background-color: $main-light-color;

      input {
        background-color: $main-light-color;
        color: $secondary-color;
      }
    }

    .ant-input-group-addon {
      button {
        background-color: $main-light-color !important;
        border-left: none;

        svg {
          color: $secondary-color;
        }
      }
    }

    ::placeholder {
      color: $secondary-color;
    }
  }

  &__help_text {
    color: $main-light-color;
    font-size: 16px;
    margin: 20px 0;
  }

  .ant-collapse-header {
    color: inherit !important;
  }


  .ant-collapse-item {
    background-color: $card-background-lvl-1;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px;

    &.ant-collapse-item-active {
      .ant-collapse-expand-icon {
        transform: rotate(180deg);
      }
    }

    .ant-collapse-expand-icon {
      transform: rotate(90deg);
      padding: 0 !important;
      margin: auto;

      svg {
        font-size: 24px;
      }
    }

    .ant-collapse-header-text {
      padding-right: 8px;
    }

    .ant-collapse-content {
      .task_box {
        margin-bottom: 8px;
        
        .ant-card-body {
          background-color: $card-background-lvl-2;
        }
      }
    }
  }
}