@import "../varibales";

.settings_page {
  &:first-child{
    margin-top: 16px;
  }
  &__box {
    margin-bottom: 12px;
  }
    &__description {
    }

    &__action {
      padding-left: 4px;
    }
  
  &__card--danger{
    border:1px solid $dangerous-color !important;
  }

    .ant-card-body {
      padding: 16px;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
  }
